h1 {

text-align:center;

}
form {

    
    
  
}
.FormCon {
text-align:center;
    display:flex;
align-items:center;
flex-direction:column;
justify-content:center;


}
label {


}

form input {

    


}
label {

text-align:center;
}